<div class="contain">
    <div class="row ">
        <div class="col text-center mt-20">
            <h3>bonjour a tous bienvenue sur le site de gestions des utilisateurs</h3>
            <p>ici vous allez pouvoir gerer les services CRUD en matiere de gestion des utilisateurs</p>
            <p>ce site est coder en angular Bootstrap coter front end et java(spring boot) cote back End</p>
            <p>presenter par M. le CHEF </p>
        </div>
    </div>
    <div class="col text-center mt-20">
        <button class="btn btn-outline-info" [routerLink]="['/addUser']">s'inscrire</button>
    </div>
   
</div>