
<div class="container">
  <h2> listes des utilisateurs:</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.age}} ans</td>
        <td class="btn btn-outline-success"  [routerLink]="['/user-detail',user.id]"> details</td>
        <td class="btn btn-outline-success"  [routerLink]="['/user-update',user.id]"> modifier</td>
      </tr>
    </tbody>
  </table>
</div>
